body{
    margin: 0px;
}
.dice{
    border: 5px solid #000;
    border-radius: 20px;
    height: 150px;
    width: 150px;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px auto;
}
.dice_point::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: black;
    box-sizing: border-box;
    display: inline-block;
}
.dice_one{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dice_two{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.dice_two .dice_point:last-child{
    align-self: flex-end;
}
.dice_three{
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.dice_three .dice_point:last-child{
    align-self: flex-end;
}
.dice_three .dice_point:nth-child(2){
    align-self: center;
}
.dice_four{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.dice_four .dice_point{
    flex-basis: 50%;
}
.dice_four .dice_point:nth-child(even){
    text-align:right;
}
.dice_five{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0px 20px 0px;
}
.dice_five .dice_point:nth-child(3){
    flex-basis: 100%;
    text-align: center;
}
.dice_six{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    align-content: space-between; 
}
.dice_six .dice_point{
    display: flex;
}
.dice_in_a_row{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0px auto;
}
